@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../styles/mixins";

.navbar {
    padding: 0 1rem;

    &-brand {
        margin: 0;
        padding: 1rem;

        &__image {
            margin-right: 1rem;
            max-width: 3rem;
        }

        &__title {
            margin: 0;
        }
    }

    &-collapse {
        justify-content: space-between;

        .navbar-nav {
            font-size: 1.5rem;

            &.routes {
                align-items: flex-start;
                justify-content: center;
                width: 100%;

                .nav-link {
                    @include animate-underline;
                    @include media-breakpoint-up(md) {
                        align-items: center;
                    }
                    @include media-breakpoint-up(lg) {
                        margin: 1rem 1.75rem 0.5rem;
                    }

                    margin: 1rem 1rem 0.5rem;
                }
            }

            &.social {
                align-items: center;
                flex-direction: row;
                @include media-breakpoint-up(md) {
                    justify-content: flex-end;
                }

                .nav-link {
                    padding: 1rem 1.25rem;
                }
            }

            .nav-link {
                font-weight: 600;
            }
        }

        &.show {
            width: 50vw;
        }
    }

    &-toggler {
        border: 0;
        color: white;
        padding: 1rem;
    }
}