@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../styles/mixins";

.navbar {
    max-height: 100vh;

    &-brand {
        margin: 0;
        padding: 0 0.75rem;

        &__image {
            max-width: 2.5rem;
        }
    }

    &-collapse {
        .nav-link {
            display: flex;
        }
    }

    &-toggler {
        border: 0;
        color: white;
    }

    &.fixed-left {
        @include navbar-sidebar;
        @include media-breakpoint-up(md) {
            right: auto;

            .navbar-nav {
                .nav-item {
                    .dropdown-toggle {
                        &:after {
                            border-top: 0.25rem solid transparent;
                            border-left: 0.25rem solid;
                            border-bottom: 0.25rem solid transparent;
                            border-right: none;
                            vertical-align: baseline;
                        }
                    }

                    .dropdown-menu {
                        left: 100%;
                    }
                }
            }
        }
    }
}