@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../styles/mixins";
@import "../../styles/variables";

.navbar {
    background: $dark-blue;
    padding: 1rem 1.5rem;

    &-brand {
        &__image {
            max-height: 3rem;
        }
    }

    .navbar-nav {
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;

        .nav-link {
            @include animate-underline;
            @include media-breakpoint-up(md) {
                align-items: center;
            }

            color: $cream;
            font-size: 1.25rem;
            font-weight: 400;
            margin: 0.25rem 1rem ;
            padding: 0.25rem;
        }
    }

    &-toggler {
        border: none;
        color: $cream;
        padding: 1rem;
    }
}

.offcanvas {
    background: $light-blue;
    border: none;

    &-header {
        justify-content: flex-end;
        padding: 1rem 1.5rem;

        button.btn-close {
            margin: 1rem;
        }
    }

    &-body {
        align-items: center;
        justify-content: center;
    }
}