@import "../../styles/variables";

footer {
    .button-group {
        padding: 1rem 1.5rem;

        button.btn.btn-primary {
            background: transparent;
            border: none;

            svg {
                color: $cream;
                font-size: 1.5rem;
            }
        }
    }
}