@import "../../styles/variables";

footer {
    .list-group.list-group-horizontal {
        .list-group-item {
            background-color: $dark-blue;
            border: none;

            svg {
                color: $cream;
                font-size: 1.5rem;
            }
        }
    }
}