@import "../../../styles/variables";
@import '~bootstrap/scss/bootstrap';

section.intro__container  {
    color: $light-blue;
    display: flex;
    height: calc(100vh - 153px);
    overflow-y: auto;
    padding: 1rem;

    .intro__text {
        align-self: center;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;

        .hey {
            font-size: 1.25rem;
            font-weight: 300;
        }

        .name {
            color: $cream;
            font-family: 'Vast Shadow', cursive;
            font-size: 3rem;
        }

        .dev {
            color: $red;
            font-family: 'Source Code Pro', monospace;
            font-size: 2rem;
            margin-left: 0.5rem;
        }

        p {
            color: $cream;
            font-size: 1.125rem;
            font-weight: 300;
        }
    }
}

@include media-breakpoint-up(sm) {
    section.intro__container {
        padding: 1.5rem;

        .intro__text {
            padding: 1rem;

            .hey {
                font-size: 1.5rem;
            }

            .dev {
                font-size: 2.25rem;
            }

            p {
                font-size: 1.25rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    section.intro__container {
        padding: 2rem;

        .intro__text {
            padding: 1.5rem;

            .hey {
                font-size: 2rem;
            }

            .name {
                font-size: 3.5rem;
            }

            .dev {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    section.intro__container {
        padding: 2.5rem;

        .intro__text {
            padding: 2rem;

            .hey {
                font-size: 2.5rem;
            }

            .name {
                font-size: 4rem;
            }

            .dev {
                font-size: 3rem;
            }

            p {
                font-size: 1.75rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    section.intro__container {
        padding: 4rem;

        .intro__text {
            padding: 2.5rem;
        }
    }
}

@include media-breakpoint-up(xl) {
    section.intro__container {
        padding: 6rem;

        .intro__text {
            max-width: 100rem;
            padding: 4rem;
        }
    }
}
