@import '~bootstrap/scss/bootstrap';
@import '/src/styles/variables';
@import '/src/styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800&family=Source+Code+Pro&family=Vast+Shadow&display=swap');

.app {
  background: $dark-blue;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  height: 100vh;
  width: 100vw;
}